.list {
    list-style-type: none;
    padding: 0;
    
}

.list-item{
    border: 1px solid #000000;
    padding: 10px;
}

.taskContent{

}
.taskContent.inactive{
    text-decoration: line-through;
}

.createdBy{
    margin-right: 10px;
    font-size: 11px;
}
.AssignedToYou{
    background-color: #ffcccb; 
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 5px;
}

.box {
    padding: 10px;  
}

.footer{
    display: flex;
}
.addNewTaskbutton{
    padding: auto;
    margin-bottom: 10px;
}

.toggle-span{
    cursor: pointer;
}

.Task2ndLayer {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}
.completed-button{
    margin-right: 10px; 
}
.Adding-Subtask {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1%;
    margin-right: 10px; 
}
.toggleAssignTaskPopOut{
    margin-right: 10px; 
}
.toggleChatPopout{
    margin-right: 10px; 
}