.list {
    list-style-type: none;
    padding: 0;
    
}

.list-item{
    border: 1px solid #000000;
    padding: 10px;
}

.addNewTaskbutton{
    padding: auto;
    margin-bottom: 10px;
}



.Task-firstrow{
    display: flex;
    align-items: center;
}
.completed-button{
    cursor:pointer;
}


.taskContent{
    margin-left: 10px;
}
.taskContent.inactive{
    text-decoration: line-through;
}

.createdBy{
    margin-right: 10px;
    font-size: 11px;
}
.TaskDueDate{
    background-color:orange; 
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 5px;
    margin:0 5px;
    cursor: pointer;
}
.AssignedToYou{
    background-color: #ffcccb; 
    font-size: 13px;
    padding: 2px 5px;
    border-radius: 5px;
    margin:0 5px;
    cursor: default;
}

.box {
    padding: 10px;  
}

.footer{
    display: flex;
}

.toggle-span{
    cursor: pointer;
}
.toggle-subtask-hideout{
    cursor: pointer;
    margin:0 20px;
}

.Task2ndLayer {
    display: flex;
    align-items: center; 
    margin-top: 10px;
    justify-content: space-between;
    
}




.Adding-Subtask{
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.ToggleEditTask, .toggleAssignTaskPopOut, .toggleChatPopout, .add_dueDate {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
    
}


.TaskLayer2ndright{
    display: flex;
    align-items: center; 
}

.settingComponents{
    display: flex;
    align-items: center; 
    margin-right: 10px;
}
.settingHideoutIcon{
    cursor: pointer;
}