.list {
    list-style-type: none;
    padding: 0;
    
}

.list-item{
    border: 1px solid #000000;
    padding: 10px;
}


.createdBy{
    display: block;
    font-size: 11px;
}


.box {
    padding: 10px;  
}

.footer{
    display: flex;
}


.toggle-span{
    cursor: pointer;
}

.Task2ndLayer {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}
.Task2ndLayer button,
.Task2ndLayer input,
.Task2ndLayer .popout {
  margin-right: 10px; /* Add spacing between items */
  
  
}
.Adding-Subtask {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2%;
}