.chatbox{
    height:323px;

    padding: 10px;
    overflow-y: auto;
}

.sendMessageInput{
    width: 254px;
}
.sendChatbutton{
    padding: 3px;
}

.messageprofilePic{
    width: 30px;  
    height: 30px; 
    border: 1px solid #ccc;
    margin: 0 5px;
}